In [5]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

In [7]:
train_data = pd.read_excel(r"Data_Train1.xlsx")
pd.set_option('display.max_columns',None) #display all the columns from the excel.
train_data.head()

,Airline,Data_of_journey,Unnamed: 2,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Date_of_Journey
0,IndiGo,2024-12-24,NaN,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24/03/2019
1,Air India,2024-12-01,NaN,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/05/2019
2,Jet Airways,2024-12-09,NaN,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9/06/2019
3,IndiGo,2024-12-12,NaN,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12/05/2019
4,IndiGo,2024-12-01,NaN,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01/03/2019

In [73]:
train_data.info()   #data-type - object which means the String such as flight name and other informations

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          0 non-null      object
 1   Source           0 non-null      object
 2   Destination      0 non-null      object
 3   Route            0 non-null      object
 4   Duration         0 non-null      object
 5   Total_Stops      0 non-null      object
 6   Additional_Info  0 non-null      object
 7   Price            0 non-null      int64
 8   Date_of_Journey  0 non-null      object
 9   Journey_day      0 non-null      int32
 10  Journey_month    0 non-null      int32
 11  Dep_hour         0 non-null      int32
 12  Dep_min          0 non-null      int32
 13  Arrival_hour     0 non-null      int32
 14  Arrival_min      0 non-null      int32
dtypes: int32(6), int64(1), object(8)
memory usage: 0.0+ bytes

In [11]:
train_data["Duration"].value_counts() #it tell that like 2h50m duration are 550 flight and 1h30m duration have 386 flights and so on

Duration
2h 50m     550
1h 30m     386
2h 55m     337
2h 45m     337
2h 35m     329
          ...
30h 10m      1
31h 30m      1
42h 5m       1
4h 10m       1
5m           1
Name: count, Length: 368, dtype: int64

In [13]:
train_data.dropna(inplace = True)  #it will tell the total numbers of null values and there are no null values in 10682 elements and 11 columns

In [15]:
train_data.isnull().sum()

Airline            0
Data_of_journey    0
Unnamed: 2         0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
Price              0
Unnamed: 12        0
Unnamed: 13        0
Unnamed: 14        0
Unnamed: 15        0
Unnamed: 16        0
Unnamed: 17        0
Unnamed: 18        0
Unnamed: 19        0
Unnamed: 20        0
Unnamed: 21        0
Unnamed: 22        0
Unnamed: 23        0
Unnamed: 24        0
Unnamed: 25        0
Unnamed: 26        0
Unnamed: 27        0
Unnamed: 28        0
Unnamed: 29        0
Unnamed: 30        0
Unnamed: 31        0
Unnamed: 32        0
Unnamed: 33        0
Unnamed: 34        0
Unnamed: 35        0
Date_of_Journey    0
dtype: int64

In [17]:
train_data["Journey_day"] = pd.to_datetime(train_data["Data_of_journey"], format="%d/%m/%Y").dt.day
#the model will not be able to understand the string date&time formate for that by (to_datetime) we get the day by dt,day

In [19]:
train_data["Journey_month"] = pd.to_datetime(train_data["Data_of_journey"], format = "%d/%m/%Y").dt.month
#the model will not be able to understand the string date&time formate for that by (to_datetime) we get the month by dt,month

In [21]:
train_data.drop(["Data_of_journey"], axis = 1, inplace = True)
# Since we have converted Date_of_Journey column into integers journey_day,journey_month, Now we can drop it.

In [55]:
print(train_data.shape)
print(train_data.columns)

(0, 40)
Index(['Airline', 'Unnamed: 2', 'Source', 'Destination', 'Route', 'Duration',
       'Total_Stops', 'Additional_Info', 'Price', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29',
       'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33',
       'Unnamed: 34', 'Unnamed: 35', 'Date_of_Journey', 'Journey_day',
       'Journey_month', 'Dep_hour', 'Dep_min', 'Arrival_hour', 'Arrival_min'],
      dtype='object')

In [57]:
train_data = train_data.loc[:, ~train_data.columns.str.contains('^Unnamed')]

In [61]:
train_data.head()

Empty DataFrame
Columns: [Airline, Source, Destination, Route, Duration, Total_Stops, Additional_Info, Price, Date_of_Journey, Journey_day, Journey_month, Dep_hour, Dep_min, Arrival_hour, Arrival_min]
Index: []

In [69]:
train_data.head(5)

Empty DataFrame
Columns: [Airline, Source, Destination, Route, Duration, Total_Stops, Additional_Info, Price, Date_of_Journey, Journey_day, Journey_month, Dep_hour, Dep_min, Arrival_hour, Arrival_min]
Index: []

In [51]:
#(DEPARTURE TIME)
# Departure time is when a plane leaves the gate. 
# Similar to Date_of_Journey we can extract values from Dep_Time

# Extracting Hours
train_data["Dep_hour"] = pd.to_datetime(train_data["Dep_Time"]).dt.hour

# Extracting Minutes
train_data["Dep_min"] = pd.to_datetime(train_data["Dep_Time"]).dt.minute

# Now we can drop Dep_Time as it is of no use
train_data.drop(["Dep_Time"], axis = 1, inplace = True)

KeyError: 'Dep_Time'

In [71]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          0 non-null      object
 1   Source           0 non-null      object
 2   Destination      0 non-null      object
 3   Route            0 non-null      object
 4   Duration         0 non-null      object
 5   Total_Stops      0 non-null      object
 6   Additional_Info  0 non-null      object
 7   Price            0 non-null      int64
 8   Date_of_Journey  0 non-null      object
 9   Journey_day      0 non-null      int32
 10  Journey_month    0 non-null      int32
 11  Dep_hour         0 non-null      int32
 12  Dep_min          0 non-null      int32
 13  Arrival_hour     0 non-null      int32
 14  Arrival_min      0 non-null      int32
dtypes: int32(6), int64(1), object(8)
memory usage: 0.0+ bytes

In [75]:
# Print column names
print(train_data.columns)

# Check for missing or empty values
print(train_data.isnull().sum())

# Look at the first few rows
print(train_data.head(10))

Index(['Airline', 'Source', 'Destination', 'Route', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price', 'Date_of_Journey', 'Journey_day',
       'Journey_month', 'Dep_hour', 'Dep_min', 'Arrival_hour', 'Arrival_min'],
      dtype='object')
Airline            0
Source             0
Destination        0
Route              0
Duration           0
Total_Stops        0
Additional_Info    0
Price              0
Date_of_Journey    0
Journey_day        0
Journey_month      0
Dep_hour           0
Dep_min            0
Arrival_hour       0
Arrival_min        0
dtype: int64
Empty DataFrame
Columns: [Airline, Source, Destination, Route, Duration, Total_Stops, Additional_Info, Price, Date_of_Journey, Journey_day, Journey_month, Dep_hour, Dep_min, Arrival_hour, Arrival_min]
Index: []

In [65]:
train_data.head()

Empty DataFrame
Columns: [Airline, Source, Destination, Route, Duration, Total_Stops, Additional_Info, Price, Date_of_Journey, Journey_day, Journey_month, Dep_hour, Dep_min, Arrival_hour, Arrival_min]
Index: []

In [67]:
#(ARRIVAL TIME)
# Arrival time is when the plane pulls up to the gate.
# Similar to Date_of_Journey we can extract values from Arrival_Time

# Extracting Hours
train_data["Arrival_hour"] = pd.to_datetime(train_data.Arrival_Time).dt.hour #convert the arrival time into the date time here it  converts into hours

# Extracting Minutes
train_data["Arrival_min"] = pd.to_datetime(train_data.Arrival_Time).dt.minute

# Now we can drop Arrival_Time as it is of no use
train_data.drop(["Arrival_Time"], axis = 1, inplace = True)

AttributeError: 'DataFrame' object has no attribute 'Arrival_Time'

In [77]:
# Time taken by plane to reach destination is called Duration
# It is the differnce betwwen Departure Time and Arrival time


# Assigning and converting Duration column into list
duration = list(train_data["Duration"])

for i in range(len(duration)):
    if len(duration[i].split()) != 2:    # Check if duration contains only hour or mins
        if "h" in duration[i]:
            duration[i] = duration[i].strip() + " 0m"   # Adds 0 minute
        else:
            duration[i] = "0h " + duration[i]           # Adds 0 hour

duration_hours = []
duration_mins = []
for i in range(len(duration)):
    duration_hours.append(int(duration[i].split(sep = "h")[0]))    # Extract hours from duration
    duration_mins.append(int(duration[i].split(sep = "m")[0].split()[-1]))   # Extracts only minutes from duration

In [79]:
# Adding duration_hours and duration_mins list to train_data dataframe

train_data["Duration_hours"] = duration_hours
train_data["Duration_mins"] = duration_mins

In [81]:
train_data.drop(["Duration"], axis = 1, inplace = True)

C:\Users\Samarth Mane\AppData\Local\Temp\ipykernel_17796\2331468984.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data.drop(["Duration"], axis = 1, inplace = True)

In [83]:
train_data.head()

Empty DataFrame
Columns: [Airline, Source, Destination, Route, Total_Stops, Additional_Info, Price, Date_of_Journey, Journey_day, Journey_month, Dep_hour, Dep_min, Arrival_hour, Arrival_min, Duration_hours, Duration_mins]
Index: []